<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
        {{ content }}
        <hr>
        <p>Esse site está hospedado no GitHub, uma ferramente de colaboração livre. Você pode contribuir, apontar errors e ver versões anteriores em <a href="https://github.com/voteciente">https://github.com/voteciente</a>. <a hreaf="https://github.com/voteciente/voteciente.github.io/blob/master/contribua.md">Contribua</a>.</p>
        <a href='https://www.stat-counter.org/'>https://www.stat-counter.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=807065e353c7df6bab976655ca4031a44db87d77'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/433751/t/5"></script>
    </body>
</html>
